<div class="container">
    <h2>Weather Table</h2>
    <p>This table displayd the list of 5 Europian cities weather report:</p>
    <table class="table table-hover">
      <thead>
        <tr class="cursor-pointer">
          <th>City Name</th>
          <th>Temp (&#x2103;)</th>
          <th>Sunrise time (GMT)</th>
          <th>Sunset time (GMT)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of weatherReports" [routerLink]="['/details', report.name]">
          <td><a href="javascript:void(0);">{{report.name}}</a></td>
          <td>{{report.temperature | number}}</td>
          <td>{{report.sunrise * 1000 | date:'shortTime':'GMT'}}</td>
          <td>{{report.sunset * 1000 | date:'shortTime':'GMT'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
